{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<script type="text/javascript">
    $(function() {
        $("#demo5").paginate({
            count 		: 4,
            start 		: 1,
            display     : 20,
            border					: false,
            text_color  			: '#423C3B',
            text_hover_color  		: '#423C3B',
            images					: false,
            mouse					: 'press'
        });
    });

    function switchDisplay(pageName){
        alert(pageName);
        document.getElementById("show").innerHTML = "pageName = "+pageName;
    }
</script>
{% if searchType == 'shortSearch' or searchType == 'txtSearch' %}
    {% render "FTRWebBundle:Search:shortsearch" with {'parameter': parameter} %}
{% endif %}
{% if searchType == 'fullSearch' %}
{% render "FTRWebBundle:Search:fullsearch" with {'parameter': parameter} %}
{% endif %}

{% render "FTRWebBundle:List:showList" with {'dataSet': dataSet } %}

{% if numData > 10 %}
<div id="paging" style="padding-top: 10px;">
    <!--<a href="#" class="page" style="float:left; padding-left:10px;">หน้าแรก</a>-->
    <div id="demo5"></div>
    <!--<a href="#" class="page" style="float:right; padding-right: 10px;">หน้าสุดท้าย</a>-->
</div>
{% endif %}
{% render "FTRWebBundle:Main:recom" %}

{% endblock %}