{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<style>
    a, a:link{
        color: #000000;
    }
    a:hover{
        color: red;
    }
</style>
<div class="result" style="width: 1000px; min-height: 210px; margin: 0 auto 0 auto; !important">
    <H1 class="fontRed mrL10">กรุณากรอกข้อมูลของท่านให้ครบถ้วน</H1>
    <p>
        <a href="{{ path('FTRWebBundle_detail', {'buildId':id, 'province':province, 'prefecture':district, 'slug':slug}) }}">
            << กลับไปยังหน้ารายละเอียดห้องพัก
        </a>
    </p>
</div>
{% endblock %}