/* common classes */
pre { PADDING: 0px; margin:0px; }

.dg_left { text-align: left; }
.dg_center { text-align: center; }
.dg_right { text-align: right; }
.dg_nowrap { white-space: nowrap; }
.dg_wrap { word-wrap: break-word; word-break: break-all; }
.dg_underline { text-decoration:underline; }
.resizable-textarea .grippie { border-right:#ddd 1px solid; border-top: #ddd 0px solid; overflow: hidden; border-left:#ddd 1px solid; cursor: s-resize; border-bottom:#ddd 1px solid; height:6px; }

a.pink_dg_a { background:transparent; color: #333333; text-decoration:none; font-size: 12px; font-family: Tahoma; }
a.pink_dg_a:link { background:transparent; color: #333333; text-decoration:none; font-size: 12px; font-family: Tahoma; }
a.pink_dg_a:hover { background:transparent; color: #be0a2f; text-decoration:none; font-size: 12px; font-family: Tahoma; }
a.pink_dg_a:visited { }
a.pink_dg_a2 { background:transparent; color: #333333; text-decoration:none; font-size: 12px; font-family: Tahoma; }
a.pink_dg_a2:link { background:transparent; color: #333333; text-decoration:none; font-size: 12px; font-family: Tahoma; }
a.pink_dg_a2:hover { background:transparent; color: #be0a2f; text-decoration:none; font-size: 12px; font-family: Tahoma; }
a.pink_dg_a2:visited { background:transparent; color: #333333; text-decoration:none; font-size: 12px; font-family: Tahoma; }
/* columns header links */
a.pink_dg_a_header { background: transparent; font-size:12px; color: #333333; text-decoration: none; font-weight: bold;}
a.pink_dg_a_header:link { background: transparent; font-size:12px; color: #333333; text-decoration: none; font-weight: bold;}
a.pink_dg_a_header:hover { background: transparent; font-size:12px; color: #be0a2f; text-decoration: none; font-weight: bold;}
a.pink_dg_a_header:visited { }
/* pagination links */
/* table.pink_dg_paging_table  { } */ 
a.pink_dg_p_a           { background:transparent; color:#333333; text-decoration:none; }
a.pink_dg_p_a_empty     { background:transparent; color:#333333; text-decoration:none; }
a.pink_dg_p_a:link      { background:transparent; color:#333333; text-decoration:none; }
a.pink_dg_p_a:hover     { background:transparent; color:#be0a2f; text-decoration:underline; }
a.pink_dg_p_a:visited   { }

.pink_dg_fieldset { margin:0px;border: #ffcfb4 1px solid;}
.pink_dg_filter_table { border: #bfcde1 0px solid; font: normal 12px Tahoma;}
.pink_dg_filter_table tr td { font-size: 12px; }
.pink_dg_legend { font: normal 12px Tahoma;}
.pink_dg_paging_table { border: #bfcde1 0px solid; font: normal 12px Tahoma;}
.pink_dg_paging_table tr td { font-size: 12px; }
.pink_dg_table { border: 1px solid #ffcfb4; font: normal 12px Tahoma; border-style: solid solid solid solid; border-collapse: collapse; }

.pink_dg_th          { background:url(images/header_background.jpg) repeat-x right bottom; border-right:#ffcfb4 1px solid; border-top: #ffcfb4 1px solid;  font: bold 13px tahoma; border-left:#ffcfb4 1px solid; color: #333333;  border-bottom:#ffcfb4 1px solid; padding:4px 5px 4px 5px; }
.pink_dg_th_normal   { background:url(images/header_background.jpg) repeat-x right bottom; border-right:#ffcfb4 1px solid; border-top: #ffcfb4 1px solid;  font: bold 13px tahoma; border-left:#ffcfb4 1px solid; color: #333333;  border-bottom:#ffcfb4 1px solid; background-color:#ffcfb4; padding:4px 5px 4px 5px; }
.pink_dg_th_selected { background:url(images/header_background.jpg) repeat-x right bottom; border-right:#ffcfb4 1px solid; border-top: #ffcfb4 1px solid;  font: bold 13px tahoma; border-left:#ffcfb4 1px solid; color: #333333;  border-bottom:#ffcfb4 1px solid; padding:4px 5px 4px 5px; }

.pink_dg_td {      border-right:#ffcfb4 1px solid; padding-right:2px; padding-left:5px; padding-bottom:4px; padding-top:3px; font-family: Tahoma; border-left: #ffcfb4 1px solid; border-bottom:#ffcfb4 1px solid; }
.pink_dg_td_main {     border-right:#ffcfb4 1px solid;  padding-right:2px; padding-left:5px; padding-bottom:4px; padding-top:3px; font-family: Tahoma; border-left: #ffcfb4 1px solid;  border-bottom:#ffcfb4 1px solid; background-color:#ffd6c2; }
.pink_dg_td_selected { border-right:#ffcfb4 1px solid; padding-right:2px; padding-left:5px; padding-bottom:4px; padding-top:3px; font-family: Tahoma; border-left: #ffcfb4 1px solid;  border-bottom:#ffd6c2 1px solid; background-color:#f1f0e8; } /*FFeFd4*/

INPUT.pink_dg_button { font: bold 12px Tahoma; border: 1px solid #fe9c6b; padding-right:2px; padding-left:5px; padding-top:2px; padding-bottom:2px; background-color:#ffcfb4; margin-left: 1px; margin-right: 1px; margin-top: 1px; margin-bottom: 1px; }
.pink_dg_select { border: #FFCFB4 1px solid; font: normal 12px Tahoma; background-color:#F8F7EF;  }
.pink_dg_label { font-size: 12px; font-family: Tahoma; }
.pink_dg_textbox { border: #FFCFB4 1px solid; font: normal 12px Tahoma; width:210px; PADDING-LEFT:3px;padding-bottom:3px;padding-top:3px; }
.pink_dg_textarea { border: #FFCFB4 1px solid; font: normal 12px Tahoma; PADDING-LEFT:3px;padding-bottom:3px;padding-top:3px; resize:none; }
.pink_dg_checkbox { border:0px; font: normal 12px Tahoma; width:20px;}
.pink_dg_radiobutton { border:0px; font: normal 12px Tahoma; width:20px;}
.pink_dg_caption { font: normal 14px Tahoma; font-weight: bold; text-align:center; padding-bottom:0;}
.pink_dg_error_message { font: normal 12px Tahoma; color: #a61100; }
.pink_dg_warning_message { font: normal 12px Tahoma; color: #d2791e; }
.pink_dg_ok_message    { font: normal 12px Tahoma; color: #009a00; }

.pink_dg_question_mark    { border:0px; margin-bottom:-1px; width:13px; cursor:help; }
.pink_dg_messages_wrapper { margin:10px auto 7px auto; text-align:center; }

DIV.default_dg_sql_message     { font-family:arial; font-size:12px; color:#333333; }
DIV.pink_dg_sql_message        { font-family:arial; font-size:12px; color:#333333; }
DIV.pink_dg_ok_message SPAN    { margin-left:5px; margin-right:5px; }
DIV.pink_dg_ok_message IMG     { margin-bottom:-2px; }
DIV.pink_dg_error_message SPAN { margin-left:5px; margin-right:5px; }
DIV.pink_dg_error_message IMG  { margin-bottom:-2px; }
