# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
.idea/*

# Configuration files
app/config/parameters.ini

# Project files from aptana
.project
.DS_Store
web/images/building/*

# Project files from php storm
.idea

# image files not push
.captcha_img.jpg
.test.jpg