<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
		<rule name="vB Threads" enabled="true" >
                    <match url="^threads/([0-9]+)(?:/?$|(?:-[^/]+))(?:/?$|(?:/page([0-9]+)?))" />
			<conditions logicalGrouping="MatchAll">
                		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                		<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            		</conditions>
                    <action type="Rewrite" url="showthread.php?t={R:1}&amp;page={R:2}" />
                </rule>

		<rule name="vB Forums" enabled="true" >
                    <match url="^forums/([0-9]+)(?:/?$|(?:-[^/]+))(?:/?$|(?:/page([0-9]+)?))" />
			<conditions logicalGrouping="MatchAll">
                		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                		<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            		</conditions>
                    <action type="Rewrite" url="forumdisplay.php?f={R:1}&amp;page={R:2}" />
                </rule>

		<rule name="vB Members" enabled="true" >
                    <match url="^members/([0-9]+)" />
			<conditions logicalGrouping="MatchAll">
                		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                		<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            		</conditions>
                    <action type="Rewrite" url="member.php?u={R:1}" />
                </rule>

		<rule name="vB Blogs" enabled="true" >
                    <match url="^blogs/([0-9]+)(?:/?$|(?:-[^/]+))(?:/?$|(?:/page([0-9]+)?))" />
			<conditions logicalGrouping="MatchAll">
                		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                		<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            		</conditions>
                    <action type="Rewrite" url="blog.php?u={R:1}&amp;page={R:2}" />
                </rule>

                <rule name="vB Blog Entries" enabled="true" >
                    <match url="^entries/([0-9]+)(?:/?$|(?:-[^/]+))(?:/?$|(?:/page([0-9]+)?))" />
			<conditions logicalGrouping="MatchAll">
                		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                		<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            		</conditions>
                    <action type="Rewrite" url="entry.php?b={R:1}&amp;page={R:2}" />
                </rule>

		<rule name="vBCMS" stopProcessing="true" enabled="true" >
                    <match url="^(?:(.*?)(?:/|$))(.*|$)$" />
			<conditions logicalGrouping="MatchAll">
                		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                		<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            		</conditions>
                    <action type="Rewrite" url="{R:1}.php?r={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
