{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
    <div class="container">
        <H1>แสดงค่า</H1>
        {{ id }}
        <div class="clear"></div>
    </div>
{% endblock %}