{% extends 'FTRAdminBundle:Layout:panel_layout.html.twig' %}

{% block body %}

<!-- ***** Jquery Transation ***** -->
<script>
    var saveIdBuildingSite = null;
    var locationRoomType = '';
	$(document).ready(function() {
		$("#createRecord").click(function() {
            if (!$('.createPanel').html()){
                reloadId('.createPanel', window.location + "new");
            }else{
                showId(".createPanel");
            }
            hideId(".innerPanel");
            hideId("#createRecord");
            showId("#createRecordCancel");
			return false;
		});

		$("#createRecordCancel").click(function() {
            hideId("#createRecordCancel");
            showId("#createRecord");
            hideId(".createPanel");
			return false;
		});
	});

    //Set time
    var timeUp = 300;
    var timeOut = 400;
    var timeDelay = 800;

    //Show id
    function showId(id){
        $(id).fadeIn(timeOut);
    }

    //Hide id
    function hideId(id){
        $(id).fadeOut(timeOut);
    }

    //Reload id
    function reloadId(id, url){
        $(id).load(url).fadeOut(timeOut).fadeIn(timeUp);
    }

    //Reload List
    function reloadList(){
        var strUrl = "{{ path('building_site_show') }}";
        reloadId('#innerPanel', strUrl);
    }
</script>
<div id="containerwrap">
	<div class="grid_12 createLists marginB_10 alpha" style="">
		<H2>BUILDING SITE LISTS</H2>
		<div class="listsPanel" style="margin-left: -110px !important;">
			<a href="" id="createRecord">CREAT BUILDING SITE</a>
			<a href="" id="createRecordCancel" style="display: none;">CANCEL CREAT BUILDING SITE</a>
		</div>
		<div class="clear"></div>
		<p>
			Welcome to Visual Admin, a slick admin template for almost any project - front or back end. It's based on the 960 grid system which means you can have almost endless layout possibiliites as well as those that come ready to use straight out the box. Please have a click around and feel free to check out the screenshots.
		</p>
		<div class="showNotification" align="center"></div>
		
		<div class="innerPanel" ></div>

		<div class="createPanel" style=""></div>
	</div>
	<div id="innerPanel" class="grid_12 tableLists marginB_10 alpha" style="">

		{% render "FTRAdminBundle:Building_site:show" %}
	</div>
</div>

{% endblock %}