<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="หอพัก, ใกล้  bts, ใกล้ มหาวิทยาลัย, ห้องเช่า, อพาร์ทเม้นต์, apartment, แมนชั่น, บ้านเช่า, อพาร์ทเม้นท์, ห้องพัก,  หอพักหญิง, หอพักชาย, หาหอพัก, ที่พัก  ทั่วประเทศ" />
		<meta name="keywords" content="หอพัก, ใกล้ bts, ใกล้ มหาวิทยาลัย, ห้องเช่า, อพาร์ทเม้นต์, apartment, แมนชั่น, บ้านเช่า, อพาร์ทเม้นท์, ห้องพัก,  หอพักหญิง, หอพักชาย, หาหอพัก, ที่พัก  ทั่วประเทศ" />
		<meta name="author" content="Sourcecode Company Limited." />
		<meta name="Copyright" content="Copyright 2012 findtheroom.com หอพัก, ใกล้ bts, ใกล้ มหาวิทยาลัย, ห้องเช่า, อพาร์ทเม้นต์, apartment, แมนชั่น, บ้านเช่า, อพาร์ทเม้นท์, ห้องพัก,  หอพักหญิง, หอพักชาย, หาหอพัก, ที่พัก  ทั่วประเทศ" />
		<meta name="distribution" content="Global" />
		<meta name="rating" content="general" />
		<meta name="revisit-after" content="1 days" />
		<meta name="robots" content="index,follow,all" />
		<title>FindTheRoom - หอพัก, ใกล้ bts, ใกล้ มหาวิทยาลัย, ห้องเช่า, อพาร์ทเม้นท์, apartment, แมนชั่น, บ้านเช่า, อพาร์ทเม้นท์, ห้องพัก,  หอพักหญิง, หอพักชาย, หาหอพัก, ที่พัก  ทั่วประเทศ</title>
		<LINK REL="SHORTCUT ICON" HREF="{{ asset('favicon.ico') }}"/>
		<style>
			body {
				background: #F6F6F6;
				margin:0;
				font-family:Tahoma, Geneva, sans-serif;
			}
			#coming{
				width: 1000px;
				margin: 80px auto 0 auto;
				font-size: 22px;
				text-align: center;
			}
		</style>
		<!-- ***** Google Webmaster Tools ***** -->
		<meta name="google-site-verification" content="8z3t-1SYEjqsHmGnXfWSL6Rv-V051sgzh6hNuQ55DSs" />
		<!-- ***** Google Webmaster Tools ***** -->
		<!-- ***** Google Analytic ***** -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34708606-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<!-- ***** Google Analytic ***** -->
	</head>
	<body>
		<div id="coming">
    	<img src="{{asset('images/logo.png')}}" /><br />
        <span>FindTheRoom.com</span><br /><br />
        <span>พบกับเว็บไซต์เกี่ยวกับ</span><br />
        <span>การค้นหา ห้องพัก หอพัก อพาร์ทเม้นท์ ที่ทันสมัยที่สุดในประเทศไทย</span><br /><br />
        <span style="font-size:36px">เร็วๆนี้</span>
    </div>
	</body>
</html>
