<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title>Fine the Room : Control Panel</title>
{% block css %}
<link rel='stylesheet' type='text/css' href='{{asset("css/panel/reset.css")}}' />
<link rel='stylesheet' type='text/css' href='{{asset("css/panel/960_12.css")}}' />
<link rel='stylesheet' type='text/css' href='{{asset("css/panel/style.css")}}' />
<link rel='stylesheet' type='text/css' href='{{asset("css/general.css")}}' />
{% endblock %}
{% block js %}
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
{% endblock %}

</head>

<body>
<header id="wrap" class="container_12" style="height: 100px;">
	<H1>FindtheRoom-Panel</H1>
</header>	<!-- End .container_12 -->
<div id="wrap" class="container_12">
	
{% block body %}
{% endblock %}

</div><!-- End #wrap -->
<footer class="">
	<hr>
	<div class="container_12" style="height: 100%;">Footer ...</div>
</footer>
    
</body>
</html>
