{% extends 'FTRAdminBundle:Layout:panel_layout.html.twig' %}

{% block body %}

  <!-- ***** Jquery Transation ***** -->
  <script>
  $(document).ready(function(){
  	$("#createrecord").click(function(){
	  $(".createPanel").animate({
	    left: '+=50',
	    height: 'toggle'
	  }, 500, function(){});
	});
  });
  </script>
<div id="containerwrap">
	
	<div class="grid_12 createLists marginB_10 alpha" style="">
		<H2>ROOM LISTS</H2>
		<div class="listsPanel" style="margin-left: 0px !important;"><a href="#" id="createrecord">CREAT ROOM</a></div>
		<div class="clear"></div>
		<p>Welcome to Visual Admin, a slick admin template for almost any project - front or back end. It's based on the 960 grid system which means you can have almost endless layout possibiliites as well as those that come ready to use straight out the box. Please have a click around and feel free to check out the screenshots.</p>
	    <div class="clear"></div>
		<div class="createPanel" style="">
			
			<form>
				<fieldset>
					<legend>CREATE ROOM</legend>
					<div class="label" style="">Name:</div> <input type="text" name="RoomName" class="widfat" /><br />
					<span style="float: right;"><input type="submit"  value="CREATE"></span>
				</fieldset>	
			</form>
			
		</div>
	</div>
	<div class="grid_12 tableLists marginB_10 alpha" style="">
		<table>
			<tr>
				<th style="width: 940px !important;">name</th>
			</tr>
			<tr>
			  <td>Lumpini Park Pinklao</td>
			</tr>
			<tr>
			  <td>Lumpini Park Pinklao</td>
			</tr>
			<tr>
			  <td>Lumpini Park Pinklao</td>
			</tr>
		</table>
		<div class="clear"></div>
	</div>	
	
</div>

{% endblock %}