{% extends 'FTRAdminBundle:Layout:panel_layout.html.twig' %}

{% block body %}
<div id="wrap" class="container_12">

	<div id="signin" class="prefix_4 grid_4 suffix_4" style="">
		<div id="txterror" align="center" style="color: red;width: 250px;">{{txterror}}</div>
		<form id="log" action="{{path('FTRAdminBundle_signin')}}"  method="post">
			<fieldset style="border: none;">
				
				<input type="text" name="username" id="username" placeholder="Username">
				<input type="password" name="password" id="password" placeholder="Password">
				<input type="submit" value="LOGIN" id="submit" style="margin: 5px 0 0 80px;">
				{#ยังไม่มีการใช้งาน forget password ทำให้ต้อง comment ออกไปก่อน#}
                {#MICK#}
                {#2013/03/19#}
				{#<div id="rememberLabel" style="">#}
					{#<a href="#">Forget Password</a>#}
				{#</div>#}
			</fieldset>
		</form>
	</div>

</div><!-- End wrap -->
{% endblock %}