{% extends 'FTRAdminBundle:Layout:panel_layout.html.twig' %}

{% block body %}
  <div id="wrap" class="container_12">
  
    <div id="signin" class="prefix_4 grid_4 suffix_4" style="">
      
      <form action="{{ path('FTRAdminBundle_panel') }}" method="post">
      	<fieldset style="border: none;">
      	<input type="text" name="username" id="username" placeholder="Username">
      	<input type="text" name="password" id="password" placeholder="Password"/>
      	<input type="submit" value="LOGIN" id="submit" style="margin: 5px 0 0 80px;">
      	<div id="rememberLabel" style=""><a href="#">Forget Password</a></div>
      	</fieldset>
      	
      </form>	
    </div>
    
  </div><!-- End wrap -->
{% endblock %}