{% extends 'FTRAdminBundle:Layout:panel_layout.html.twig' %}

{% block body %}
  
  <!-- ***** Jquery Transation ***** -->
  <script>
  $(document).ready(function(){
  	$("#createrecord").click(function(){
	  $(".createPanel").animate({
	    left: '+=50',
	    height: 'toggle'
	  }, 500, function(){});
	});
  });
  </script>
<div id="containerwrap">
	
	<div class="grid_12 createLists marginB_10 alpha" style="">
		<H2>ADMIN LISTS</H2>
		<div class="listsPanel" style="margin-left: 0px !important;"><a href="#" id="createrecord">CREAT ADMIN</a></div>
		<div class="clear"></div>
		<p>Welcome to Visual Admin, a slick admin template for almost any project - front or back end. It's based on the 960 grid system which means you can have almost endless layout possibiliites as well as those that come ready to use straight out the box. Please have a click around and feel free to check out the screenshots.</p>
	    <div class="clear"></div>
		<div class="createPanel" style="">
			
			<form action="{{path('FTRAdminBundle_Createadminlists')}}" method="post">
				<fieldset>
					<legend>CREATE ADMIN</legend>
					<div class="label" style="">Username:</div> <input type="text" id="AdminUsername" name="AdminUsername" class="widfat" /><br />
					<div class="label" style="">Password:</div> <input type="text" id="AdminPassword" name="AdminPassword" class="widfat" /><br />
					<div class="label" style="">First Name:</div> <input type="text" id="AdminFristName" name="AdminFristName" class="widfat" /><br />
					<div class="label" style="">Last Name:</div> <input type="text" id="AdminLastName" name="AdminLastName" class="widfat" /><br />
					<div class="label" style="">Phone Number:</div> <input type="text" id="AdminPhoneNumber" name="AdminPhoneNumber" class="widfat" /><br />
					<div class="label" style="">Level:</div> <select id="AdminLevel" name="AdminLevel" class="widfat"><option value="0">...</option><option value="1">...</option></select><br />
					<span style="float: right;"><input type="submit"  value="CREATE"></span>
				</fieldset>	
			</form>
			
		</div>
	</div>
	<div class="grid_12 tableLists marginB_10 alpha" style="">
		<table>
			<tr>
				<th style="width: 940px !important;">name</th>
			</tr>
			{% for admin in objSQL1 %}
			<tr>
			  <td>{{admin.firstname}}  {{admin.lastname}}</td>
			</tr>
			{% endfor%}
		</table>
		<div class="clear"></div>
	</div>	
	
</div>

{% endblock %}