{% extends 'FTRWebBundle:Layout:Layout.html.twig' %}
{% block body %}
<div class="detail" style="margin-bottom:15px; height: 470px;">
    <img src="{{asset('images/term-h.png')}}" style="display:block; position:relative; float:none;" />
    <hr class="line" style="top: 60px;" />
</div>
</div>
{% endblock %}
