{% extends 'FTRAdminBundle:Layout:panel_layout.html.twig' %}

{% block body %}

<!-- ***** Jquery Transation ***** -->
<script>
	$(document).ready(function() {
		$("#createrecord").click(function() {
			$.post('create', function(data) {
				//alert(data);
				$('.createPanel').html(data);
				toggle(".createPanel", 'toggle');
				toggle(".editPanel", 'hide');

				$("#createrecord").hide();
				$("#createrecordCancel").show('slow');

			});
			return false;
		});

		$("#createrecordCancel").click(function() {
			$("#createrecordCancel").hide();
			$("#createrecord").show('slow');
			toggle(".createPanel", 'toggle');
			return false;
		});

		function toggle(id, toggle) {
			$(id).animate({
				left : '+=50',
				height : toggle
			}, 500, function() {
			});
		}

	}); 
</script>
<div id="containerwrap">

	<div class="grid_12 createLists marginB_10 alpha" style="">
		<H2>ADMIN LISTS</H2>
		<div class="listsPanel" style="margin-left: 0px !important;">
			<a href="#" id="createrecord">CREAT ADMIN</a>
			<a href="#" id="createrecordCancel" style="display: none;">CANCLE CREAT ADMIN</a>
		</div>
		<div class="clear"></div>
		<p>
			Welcome to Visual Admin, a slick admin template for almost any project - front or back end. It's based on the 960 grid system which means you can have almost endless layout possibiliites as well as those that come ready to use straight out the box. Please have a click around and feel free to check out the screenshots.
		</p>
		<div class="clear"></div>
		<div class="createPanel" style=""></div>
		<div class="editPanel" style=""></div>
	</div>
	<div class="grid_12 tableLists marginB_10 alpha" style="">
		{% render "FTRAdminBundle:User_admin:show" %}
	</div>

</div>

{% endblock %}