<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
<script type='text/javascript' src='{{asset("js/paging/smartpaginator.buildingsite.js")}}'></script>
<link rel='stylesheet' type='text/css' href='{{asset("css/paging/smartpaginator.buildingsite.css")}}' />
<script>
	$(document).ready(function() {
		$(".linkEditBuildingSite").click(function() {
			//alert(this.href + '/edit');
			$.post(this.href + '/edit', function(data) {
				//alert(data);
				$('.editPanel').html(data);
				toggle(".createPanel", 'hide');
				toggle(".editPanel", 'show');
				$("#createrecordCancel").hide();
				$("#createrecord").show('slow');
				document.getElementById('createrecord').scrollIntoView();
			});
			return false;
		});

		function toggle(id, toggle) {
			$(id).animate({
				left : '+=50',
				height : toggle
			}, 500, function() {
			});
		}

	}); 
</script>
<table>
	<tr>
		<th style="width: 840px !important;">name</th>
		<th style="width: 50px !important;">config</th>
	</tr>
	{% for entity in entities%}
	<tr>
		<td>{{entity.username}}</td>
		<td><a href="{{entity.id}}" class="linkEditBuildingSite">Edit</a>&nbsp;&nbsp;<a href="#" >Delete</a></td>
	</tr>
	{% endfor%}
</table>
<div class="clear"></div>