<script>
	$(document).ready(function() {
		function toggle(id, toggle) {
			$(id).animate({
				left : '+=50',
				height : toggle
			}, 500, function() {
			});
		}

		// script create user_owner
		var url = "{{ path('owner_create')}}";
		$("#formCreate").submit(function() {
			//alert(url);
			if (!confirm('คุณต้องการเพิ่มข้อมูล ใช่หรือไม่')) {
				return false;
			}
			$.ajax({
				type : "POST",
				url : url,
				data : $(this).serialize(),
				success : function(msg) {
					//alert(msg);
					if (msg == 'finish') {
						// $('#listBuildingSite').load(window.location + "show");
						$("#createrecordCancel").hide();
						$("#createrecord").show('slow');
						toggle(".createPanel", 'hide');
						$('#listOwner').fadeOut('slow').load(window.location + "show").fadeIn("slow");
					} else {
						$('.innerPanel').html(msg);
						alert('การแก้ไขผิดพลาด');
					}
				}
			});
			return false;
		});

	}); 
</script>
<form id="formCreate" action="{{path('FTRAdminBundle_Createownerlists')}}" method="post">
	<fieldset>
		<legend>
			CREATE OWNER
		</legend>
		<div class="label" style="">
			Username:
		</div>
		<input type="text" id="OwnerUsername" name="OwnerUsername" class="widfat" />
		<br />
		<div class="label" style="">
			Password:
		</div>
		<input type="text" id="OwnerPassword" name="OwnerPassword" class="widfat" />
		<br />
		<div class="label" style="">
			First Name:
		</div>
		<input type="text" id="OwnerFristName" name="OwnerFristName" class="widfat" />
		<br />
		<div class="label" style="">
			Last Name:
		</div>
		<input type="text" id="OwnerLastName" name="OwnerLastName" class="widfat" />
		<br />
		<div class="label" style="">
			Phone Number:
		</div>
		<input type="text" id="OwnerPhoneNumber" name="OwnerPhoneNumber" class="widfat" />
		<br />
		<div class="label" style="">
			Fax Number:
		</div>
		<input type="text" id="OwnerFaxNumber" name="OwnerFaxNumber" class="widfat" />
		<br />
		<div class="label" style="">
			Email:
		</div>
		<input type="text" id="OwnerEmail" name="OwnerEmail" class="widfat" />
		<br />

		<span style="float: right;">
			<input type="submit"  value="CREATE">
		</span>
	</fieldset>
</form>